// ESTILOS BOOTSTRAP
html,
body {
  height: 100%;
  
}

.miTxtC {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
 
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// MIS ESTILOS

.miTxtC{
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    .mi-nav-contacto{
      margin: 0 auto;
    }

        .mi-backForm{

            background-color: $color-azul;

                .mi-img-form{
                    margin-top: 1.5rem ;
                }

                .mi-titulo-form{
                    color:$color-verde;
                    font-size: 16px;
                    background-color: $color-azul;
                    padding: 20px;
                }
                .mi-mb{
                    margin-bottom: 0!important;
                }
                .mi-form-padding{
                  padding: 15px;

                  .mi-form{
                    border-radius: 0;
                }
                .mi-form-mail{
                  position: absolute;
                  top: 18%;
                  left: 14px;
                }

                }
               .contenedor-botones{
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                  align-items: center;

                  .contenedor-botones_ancho{
                    width: 90%;
                  }
               }

        }
    
}
